.container{
    display: flex;
    height: 400px;
    /*flex direction - row, column, row reverse, column reverse*/
    /*flex-direction: row;*/
    /*flex wrap - wrap, wrap reverse, no wrap*/
    /*flex-wrap: wrap-reverse;*/
    flex-flow: row wrap;
    background-color: rgb(65, 182, 221);
    justify-content: center;
    align-content: center;
}
.container .item{
    color: white;
    width: 20%;
    margin: 40px 10px;
    background-color: rgb(61, 19, 160);
}